*{
    font-size: 32px;
    line-height: 150%;
    font-family: 'Inter';
    font-weight: 400px;
}

body, #inputTexto{
    background-color: var(--colorBackground);
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

#logo{
    margin-top: 40px;
    margin-left: 40px;
    width: 120px;
    height: 48px;
}

.botonDarkMode{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("sources/DarkModeIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 40px;
    height: 40px;
    margin-right: 40px;
    margin-top: 25px;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 10%;
    height: 720px;
}

.entrada{
    display:flex;
    flex-direction: column;
    width: 60%;
    margin-top: 4%;
    margin-left: 8%;
    padding-bottom: 3%;
}

#inputTexto{
    resize: none;
    height: 70%;
    width: 70%;
    margin-top: 30px;
    border: none;
    color: var(--colorPrincipal);
    text-transform: lowercase;
}

#inputTexto::placeholder{
    color: var(--colorPrincipal);
}

#inputTexto:focus{
    outline: none;
}

.advertencia{
    display: flex;
    font-size: 12px;
    line-height: 150%;
    margin-top: auto;
    color: var(--colorTextoSecundario);
    opacity: 0.8;
}

.advertencia img{
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.botones{
    display: flex;
    margin-top: 16px;
}

#encriptar{
    font-size: 16px;
    border: 1px solid var(--colorPrincipal);
    background-color: var(--colorPrincipal);
    border-radius: 24px;
    color: var(--colorBackgroundSecundario);
    cursor: pointer;
    height: 67px;
    width: 46%;
    margin-right: 12px;
}

#desencriptar{
    font-size: 16px;
    border: 1px solid var(--colorPrincipal);
    background-color: var(--colorBackground);
    border-radius: 24px;
    color: var(--colorPrincipal);
    cursor: pointer;
    height: 67px;
    width: 46%;
    margin-left: 12px;
}

.resultado{
    display: flex;
    flex-direction: column;
    width: 24%;
    background: var(--colorBackgroundSecundario);
    border-radius: 24px;
    margin: 0 40px 0 auto;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#elementosResultado{
    display:flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

#imagenResultado{
    width: 100%;
}

#encriptar:hover{
    background-color: var(--colorEncriptarHover);
}

#desencriptar:hover{
    background-color: var(--colorDesencriptarHover);
}

#copiar:hover{
    background-color: var(--colorCopiarHover);
}

#mensajeCodificado{
    font-size: 20px;
    color: var(--colorMensajeCodificado);
    margin: 10px;
    line-height: 150%;
    overflow-wrap: break-word;
    max-height: 600px;
    overflow: auto;
}

#copiar{
    font-size: 16px;
    border: 1px solid var(--colorPrincipal);
    background-color: var(--colorBackgroundSecundario);
    border-radius: 24px;
    color: var(--colorPrincipal);
    cursor: pointer;
    height: 67px;
    width: 80%;
    margin-top: auto;
    margin-bottom: 32px;
    align-self: center;
    display: none;
}

h2{
    text-align: center;
    margin: 32px 32px 8px 32px;
    color: var(--colorTextoSecundario);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

h3{
    font-size: 16px;
    line-height: 150%;
    margin: 8px 32px 0 32px;
    color: var(--colorMensajeCodificado);
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 768px) {

    main{
        flex-wrap: wrap;
        margin-left: 4%;
        margin-right: 4%;
    }

    #logo{
        padding-top: 40px;
        margin-left: 0;
        width: 120px;
        height: 48px;
    }

    .botonDarkMode{
        align-self:self-end;
    }

    .entrada {
        width: 100%;
        margin-left: 0;
    }

    #inputTexto{
        width: 95%;
        height: 360px;
    }

    .resultado {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    #imagenResultado{
        display: none;
    }

    #copiar{
        margin-bottom: 0;
    }

    .botones{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 375px) {

    #inputTexto{
        width: 100%;
    }

    .botones{
        flex-direction: column;
    }

    #encriptar, #desencriptar{
        width: 100%;
        margin: 10px 0;
    }

    .resultado {
        width: 98%;
    }
}

:root{
    --colorBackground: #F3F5FC;
    --colorPrincipal: #0A3871;
    --colorBackgroundSecundario: #FFFFFF;
    --colorEncriptarHover: #072B61;
    --colorDesencriptarHover: #D8DFE8;
    --colorCopiarHover: #EFF1FA;
    --colorMensajeCodificado: #495057;
    --colorTextoSecundario: #343A40;
}

.darkMode{
    --colorBackground: #343A40;
    --colorPrincipal: #757FB2;
    --colorBackgroundSecundario: #495057;
    --colorEncriptarHover: #AAB2D5;
    --colorDesencriptarHover: #E9ECF8;
    --colorCopiarHover: #868E96;
    --colorMensajeCodificado: #F3F5FC;
    --colorTextoSecundario: #EFF1FA;
}